body
{
    font-family: Verdana, Arial !important;
}
*:not(.exclude_font *)
{
    font-family: Verdana, Arial !important;
}
input
{
    font-family: Verdana, Arial !important;
}
textarea
{
    font-family: Verdana, Arial !important;
}
select
{
    font-family: Verdana, Arial !important;
}